#messages.container {
  padding: 0 !important;
}

.toast-header {
  padding: .2rem .75rem !important;
}

.toast-body {
  position: relative;
}

.btn-primary {
  border: none !important;
}

.card {
  border: none !important;
}

.card-body {
  padding: 0.7rem !important;
}

.customer-card, .agent-card {
  width: fit-content !important;
}

.customer-card {
  margin-left: auto !important;
  border-radius: 10px 0 10px 10px;
}

.agent-card {
  background: rgb(229, 229, 229);
  margin-right: auto !important;
  border-radius: 0 10px 10px 10px;
}

.typingIndicatorContainer {
  display: flex;
  flex: none;
  align-items: flex-end;
  margin: .25rem;
}

.typingIndicatorBubble {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 52px;
  height: 40px;
  margin: 0 8px;
  border-radius: 12px;
}

.typingIndicatorBubbleDot {
  width: 4px;
  height: 4px;
  margin-right: 4px;
  border-radius: 50%;
  animation-name: bounce;
  animation-duration: 1.3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.typingIndicatorBubbleDot:first-of-type {
  margin: 0 4px;
}

.typingIndicatorBubbleDot:nth-of-type(2) {
  animation-delay: 0.15s;
}

.typingIndicatorBubbleDot:nth-of-type(3) {
  animation-delay: 0.3s;
}

@keyframes bounce {
  0%,
  60%,
  100% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(-4px);
  }
}

.separator {
  display: flex;
  align-items: center;
  text-align: center;
  color: #c8ccd0
}

.separator::before,
.separator::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid #dee2e6;
}

.separator:not(:empty)::before {
  margin-right: .25em;
}

.separator:not(:empty)::after {
  margin-left: .25em;
}

.alert {
  padding: 0.5rem;
  z-index: 100;
  position: absolute;
  width: 93%;
  text-align: center;
  transition: opacity 1s;
}
.alert-custom {
  color: #084298;
  background-color: #cfe2ff;
  opacity: 0;
}

.errorFade {
  opacity: 1;
}
